@use './varios/normalizar';
@use './varios/variables';




body {
    background: var(--fondo);
    font-family: 'Poppins', sans-serif;
    color: var(--primario);
}
main {
    max-width: 1000px;
    margin: 50px;
    overflow: hidden;
}
