@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');

:root {
    --fondo: #ecded7;
    --primario: #db8052;
    --segundario: #160e09;
    --peligro: #701808;
    --header: #008a93;
}